body {
    font-family: Arial, sans-serif;
    background:-o-linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
   width: 300px;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}

.inputs input{
    width: 70%;
    padding: 8px;
    margin: 5px;
   text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #3a8dde;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}